<app-navJuegos></app-navJuegos>

<body>
  <mat-card>
    <mat-card-content>
      <div class="flex-container text-center">
        <div class="section-title text-center">
          <h1>Memente</h1>
        </div>
        <div class="table-responsive" id="juego">
          <table class="table mat-table">
            <tr>
              <td id="0" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="1" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="2" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="3" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
            </tr>
            <tr>
              <td id="4" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="5" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="6" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="7" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
            </tr>
            <tr>
              <td id="8" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="9" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="10" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="11" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
            </tr>
            <tr>
              <td id="12" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="13" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="14" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
              <td id="15" class="letra" (click)="girarMeme()" data-valor="valor">?</td>
            </tr>
          </table>
        </div>
        <div id="ganaste"></div>
        <div class="flex-container">
          <button (click)="iniciarJuego()" class="btn"> Iniciar Juego</button>
          <button (click)="resetearJuego()" class="btn"> Resetear Juego</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</body>
