<app-cabecera>  </app-cabecera>
<!-- <nav class="navbar navbar-expand-lg navbar-dark flex-column flex-md-row bd-navbar"
  style="background-color: #800040; background-image: ('./assets/imagenes/navbar-img.jpg') ">
  <div class="container navbar-nav-scroll"
    style="text-align: center; font-weight: bold; color: #FF5E18; font-style: italic;">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <img src="./assets/imagenes/Pacman2-icon.png" width="40" height="40">
      </li>
      <li class="nav-item" id="brand">
        <a class="navbar-brand" routerLink="/Principal">Juegos Mementes</a>
      </li>
      <li class="nav-item ">
        <img src="./assets/imagenes/Pacman3-icon.ico" width="40" height="40">
      </li>
    </ul>
  </div>
  <div class="container navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a href="#"><span class="glyphicon glyphicon-user"></span> Mis Datos</a>
      </li>
      <li class="nav-item ">
      <li><a href="/Login"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
      </li>
      <li class="nav-item ">
      </li>
    </ul>
  </div>
  <a class="nav-link" href="https://github.com/mayralapalma87/salaJuegos_2019" rel="noopener" aria-label="GitHub"
    fxFlexAlign="end">
    <svg class="navbar-nav-svg" width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 499.36"
      focusable="false">
      <title>GitHub</title>
      <path
        d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"
        fill="currentColor" fill-rule="evenodd"></path>
    </svg>
  </a>
</nav> -->

<section id="our_menu" class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page_title text-center mb-4">
          <h1>Menú de Juegos</h1>
          <div class="single_line"></div>
        </div>
      </div>
    </div>
    <div class="row">
        <section id="our_menu" class="pt-5 pb-5">
            <div class="container">
        <button routerLink="/Principal">Principal</button>
        <button routerLink="/Adivina">Adivina</button>
        <button routerLink="/Agilidad">Agilidad</button>
        <button routerLink="/AdivinaMasListado">Adivina+listado</button>
        <button routerLink="/AgilidadaMasListado">Agilidad+listado</button>
        <button routerLink="/Tateti">Tateti</button>
        <button routerLink="/Memente">Memente</button>
        <button routerLink="/Anagrama">Anagrama</button>
        <button routerLink="/PriedraPapelTijeras">PPT</button>
        <button routerLink="/error">Error</button>
            </div>
        </section>
      <div class="tab-content col-lg-12" id="myTabContent">
        <div class="tab-pane fade show active" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
          <div class="row">
            <div class="col-md-6">
              <div class="single_menu">
                <img src="../assets/imagenes/adivinanza.png" (click)="Juego('Adivina')" alt="Adivina">
                <div class="menu_content">
                  <h4><a data-toggle="tooltip" title="Hooray!">Adivina</a></h4>
                  <p>Descripcion</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="../assets/imagenes/agilidad1.jpg" (click)="Juego('Agilidad')" alt="Agilidad">
                <div class="menu_content">
                  <h4>Agilidad</h4>
                  <p>Descripcion</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="../assets/imagenes/ppt2.jpg" (click)="Juego('PriedraPapelTijeras')" alt="PriedraPapelTijeras">
                <div class="menu_content">
                  <h4>Piedra, Papel y tijeras</h4>
                  <p>Descripcion</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="../assets/imagenes/hongo-icon.png" (click)="Juego('AgilidadaMasListado')"
                  alt="AgilidadaMasListado">
                <div class="menu_content">
                  <h4>Puntajes de agilidad</h4>
                  <p>Descripcion</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single_menu">
                  <img src="../assets/imagenes/anagrama1.jpg" (click)="Juego('Anagrama')" alt="Anagrama">
                  <div class="menu_content">
                    <h4>Anagrama</h4>
                      <p>Descripcion</p>
                  </div>
              </div>
              <div class="single_menu">
                <img src="../assets/imagenes/tateti.png" (click)="Juego('Tateti')" alt="Tateti">
                <div class="menu_content">
                  <h4>Ta-Te-Ti</h4>
                  <p>Descripcion</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="./assets/imagenes/memente.jpg" (click)="Juego('Memente')" alt="Memente">
                <div class="menu_content">
                  <h4>Memente</h4>
                  <p>Descripcion</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="../assets/imagenes/hongo-icon.png" (click)="Juego('AdivinaMasListado')"
                  alt="AdivinaMasListado">
                <div class="menu_content">
                  <h4>Puntajes de adivina</h4>
                  <p>Descripcion</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--------------------------------------------------------------------------------

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" routerLink="/Principal">Inicio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/Juegos">Menú de Juegos</a></li>
            <li><a data-toggle="tooltip" title="Hooray!" (click)="Juego('Adivina')">Adivina</a></li>
            <li><a  (click)="Juego('Agilidad')">Agilidad</a></li>
            <li><a  (click)="Juego('AdivinaMasListado')">Adivina+listado</a></li>
            <li><a  (click)="Juego('AgilidadaMasListado')">Agilidad+listado</a></li>
          </ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Mis Datos</a></li>
					<li><a href="/Login"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
				</ul>
    </div>
  </div>
</nav>
-->
