body{
  padding-top:2.2rem;
  padding-bottom:2.2rem;
  background:rgba(0, 0, 0, 0.76);
  background-image: url('src/assets/imagenes/background.png');
  background-size: 100% 100%;
  color:#FF5E18;
  font-family: Oleo Script , "Comic Sans MS", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 14px;
  align-content: center;
}
p {
  font-family: Oleo Script , "Comic Sans MS", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-weight: bold;
  color:#FF5E18;
  font-style: italic;
}
button{
  background-color:  rgb(0, 0, 0, 0.8);
  font-size: 22px;
  font-family: Oleo Script , "Comic Sans MS", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#FF5E18;
  border-radius: 5%;
}
button:hover {
  background-color:  rgb(128, 0, 64, 0.8);
  color: #FF5E18;
}
.page_title {
  padding: 30px 0px;
}
h1 {
  color: #c0392b;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 0;
  position: relative;
  text-transform: capitalize;
}
h1::before {
  background: #c0392b;
  width: 70px;
  height: 2px;
  position: absolute;
  content: '';
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1::after {
  position: absolute;
  content: '';
  background: #fbc531;
  width: 30px;
  height: 2px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}
.principal{
  background-color:  rgb(128, 0, 64, 0.8);
  color: #FF5E18;
}
