<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <div class="container-fluid text-center">
    <div class="card-header">
      <h1>
        {{nuevoJuego.nombre}}!
      </h1>
    </div>
    <h2></h2>
    <form name="juego">
      <div class="form-group margin-center">
          <label>Ingrese numero:</label>
          <div class="col-auto">
          <input class="form-control" [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero"
            name="numeroIngresado" type="text"/>
          </div>
      </div>
      <h1 class="form-text text-muted">{{nuevoJuego.numeroIngresado}} </h1>
      <div class="form-group">
        <h2 [hidden]="ocultarVerificar">
          <button *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()"
            class="btn btn-success btn-lg">Verificar</button>
          </h2>
        <h2>
          <button type="button" *ngIf="nuevoJuego.numeroSecreto==0 " (click)="generarnumero()">Nuevo número secreto</button>
          </h2>
      </div>
      <div class="form-group">
        <h2>
          <p *ngIf="nuevoJuego.numeroSecreto!=0"><i class="fa fa-spinner fa-spin"></i>Esperando que ingrese un número
          </p>
        </h2>
        <h3 [hidden]="!nuevoJuego.gano"> Usted adivino el número</h3>
        <h3 [hidden]="nuevoJuego.gano"> Usted aún no gano </h3>
      </div>
    </form>
    <div id="snackbar">{{Mensajes}}</div>
  </div>
</body>
