<body>
  <div class="jumbotron text-center" id='back'>
      <img id='demon' src="./assets/imagenes/Error-Demon.jpg" class="img-fluid" alt="">
      <div class="d-flex justify-content-center">
          <div class="d-flex justify-content-center">
            <img id='doggy' src="./assets/imagenes/Error-doggy.jpg" class="img-fluid" alt="">
            <button type="button" routerLink="/Principal">Please accept this cute doggy like a gift <br /> because we so sorry <br /> Click here! <br /> if you want to go to Home Page</button>
          </div>
      </div>
  </div>
</body>
