<app-cabecera>  </app-cabecera>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">

<body>
    <section class="about-area pt-60">
   <div class="container">
      <div class="row">
         <div class="col-xl-12 mb-60">
            <div class="section-title text-center">
                <p>Menú Principal</p>
            </div>
         </div>
      </div>
      <div class="row menu_style1">
         <div class="col-md-4">
          <a routerLink="/Juegos">
            <div class="single_menu_list">
                <img src="./assets/imagenes/Pacman2-icon.png" class="media-object imagenDeMenu" >
                <div class="menu_content">
                  <h4 class="media-heading">Juegos</h4>
                  <p>Elegir un juego del listado y comenzar a divertirse</p>
               </div>
            </div>
          </a>
         </div>
         <div class="col-md-4">
            <a routerLink="/Listado">
            <div class="single_menu_list">
               <img src="./assets/imagenes/Pacman1-icon.ico" alt="">
               <div class="menu_content">
                  <h4 class="media-heading">Listados de resultados</h4>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>
               </div>
            </div>
          </a>
         </div>
         <div class="col-md-4">
            <a routerLink="/Jugadores">
              <div class="single_menu_list">
                <img src="./assets/imagenes/Pacman4-icon.png" alt="">

                <div class="menu_content">
                    <h4 class="media-heading">Jugadores</h4>
                  <p>Listado de jugadores</p>
                </div>
              </div>
            </a>
         </div>
         <div class="col-md-4">
            <a routerLink="/Listado">
            <div class="single_menu_list">
               <img src="./assets/imagenes/Pacman3-icon.ico" alt="">
               <div class="menu_content">
                  <h4 class="media-heading">Configuraci&oacute;n</h4>
                  <p>Ajustes de la aplicacion y los métodos de autentificación</p>
               </div>
            </div>
          </a>
         </div>
      </div>
   </div>
</section>
</body>

<!--
<body>
<div class="container row">
    <div class="row">
        <div class="col-xl-12 mb-60">
           <div class="section-title text-center">
              <p>Menú</p>
              <h4>Principal</h4>
           </div>
        </div>
     </div>

    <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          <a routerLink="/Juegos">
            <div class="media">
              <div class="media-left">
                    <img src="./assets/imagenes/games-small.jpg" class="media-object imagenDeMenu" >
              </div>
              <div class="col-md-4">
                <h4 class="media-heading">Juegos</h4>
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
              </div>

            </div>
          </a>
        </li>
        <li class="list-group-item list-group-item-info">
            <a routerLink="/Listado">
              <div class="media">
                  <div class="media-left">
                      <img src="./assets/imagenes/listado.jpg" class="media-object imagenDeMenu" >
                    </div>
                <div class="col-md-4">
                  <h4 class="media-heading">Listados de resultados</h4>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>
                </div>

              </div>
            </a>
          </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Juegos">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/Configuracion.png" class="media-object imagenDeMenu" >
                  </div>
              <div class="col-md-4">
                <h4 class="media-heading">Configuraci&oacute;n</h4>
                <p>Ajustes de la aplicacion y los métodos de autentificación</p>
              </div>

            </div>
          </a>
        </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Jugadores">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/jugadores.png" class="media-object imagenDeMenu" >
                  </div>
              <div class="col-md-4">
                <h4 class="media-heading">Jugadores</h4>
                <p>Listado de jugadores</p>
              </div>

            </div>
          </a>
        </li>
      </ul>
</div>
</body>
 -->
