body{
    padding-top:2.2rem;
    padding-bottom:2.2rem;
    background:rgba(0, 0, 0, 0.76);
    background-image: url('src/assets/imagenes/maquina-tragamonedas.jpg');
    background-size: 100% 100%;
}
.section-title p {
	font-size: 46px;
	font-family: Oleo Script;
	margin-bottom: 0px;
}
img {
  width: 128px;
  height: 128px;
}
p {
  text-align: center;
	font-weight: 300;
  font-size: 14px;
  font-weight: bold;
	color:#FF5E18;
  font-style: italic;
}
.media-heading
{
  font-family: Oleo Script;
  font-size: 18px;
  color: #FF5E18;
  font-style: italic;
  text-align: center;
}
.col-md-4
{
  text-align: center;
  background: rgb(128, 0, 64, 0.8);
  padding: 5px;
	border-radius: 5%;
  transition: .4s;
  margin: 1%;
}
.col-md-4 :hover
{
  opacity: 0.5;
}
