<app-navJuegos></app-navJuegos>

<body>
  <div class="flex-container text-center">
    <div class="section-title text-center">
      <h1>Agilidad aritmetica</h1>
    </div>
    <form name="juego">
      <ul class="list-group text-center">
        <li class="list-group-item text-center">
          Primer número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero"
            name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly />
        </li>
        <li class="list-group-item text-center">
          Operador: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado"
            type="text" class="form-control" style="width:50%" readonly />
        </li>
        <li class="list-group-item text-center">
          Segundo número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero"
            name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly />
        </li>
        <li class="list-group-item text-center">
          Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado"
            type="text" class="form-control" style="width:50%" />
        </li>
        <li class="list-group-item text-center">
          <h2 [hidden]="ocultarVerificar"><button (click)="verificar()" class="btn"> Verificar
              {{Tiempo}} </button></h2>
        </li>
        <li class="list-group-item text-center">
          <h2 [hidden]="!ocultarVerificar"><button (click)="NuevoJuego()" class="btn"> Nuevo </button>
          </h2>
        </li>
        <li class="list-group-item">
          <h2>
            <p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p>
          </h2>
          <h3 [hidden]="!nuevoJuego.gano"> Usted adivino el número</h3>
          <h3 [hidden]="nuevoJuego.gano"> Usted aún no gano </h3>
        </li>
      </ul>
    </form>
  </div>
</body>
