<app-navJuegos></app-navJuegos>

<body>
  <div class="flex-container text-center">
    <div class="section-title text-center">
      <h1>Agilidad aritmetica</h1>
    </div>
    <div id="juegoForm">
      <form name="juego" class="text-center">
        <ul class="list-group text-center">
          <li class="list-group-item d-inline-flex p-2 bd-highlight justify-content-center align-items-center">
            <h3>Primer número: </h3> <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero"
              name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly />
          </li>
          <li class="list-group-item d-inline-flex p-2 bd-highlight justify-content-center align-items-center">
            <h3> Operador:</h3> <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero"
              name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly />
          </li>
          <li class="list-group-item d-inline-flex p-2 bd-highlight justify-content-center align-items-center">
            <h3>Segundo número: </h3> <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero"
              name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly />
          </li>
          <li class="list-group-item d-inline-flex p-2 bd-highlight justify-content-center align-items-center">
            <h3> Respuesta: </h3><input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero"
              name="numeroIngresado" type="text" class="form-control" style="width:50%" />
          </li>
          <li class="list-group-item d-inline-flex p-2 bd-highlight justify-content-center align-items-center">
            <h2 [hidden]="ocultarVerificar"><button (click)="verificar()" class="btn"> Verificar
                {{Tiempo}} </button></h2>
          </li>
          <li class="list-group-item d-inline-flex p-2 bd-highlight justify-content-center align-items-center">
            <h2 [hidden]="!ocultarVerificar"><button (click)="NuevoJuego()" class="btn"> Nuevo </button>
            </h2>
          </li>
          <li class="list-group-item d-inline-flex p-2 bd-highlight justify-content-center align-items-center">
            <h2>
              <p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p>
            </h2>
          </li>
          <li>
            <h3 [hidden]="!nuevoJuego.gano"> Usted adivino el número</h3>
            <h3 [hidden]="nuevoJuego.gano"> Usted aún no gano </h3>
          </li>
        </ul>
      </form>
    </div>
  </div>
</body>
