<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand">
            <img src="assets/img/ngx-bootstrap.svg" class="logo">
          </a>
          <span class="navbar-brand">Juegos Mementes</span>
      </div>
      <ul class="nav navbar-nav">
          <li class="active"><a href="#">
              Link <span class="sr-only">(current)</span>
            </a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown" dropdown>
                <a dropdownToggle role="button">
                  Dropdown <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu">
                  <li><a routerLink="/Registro"><span class="glyphicon glyphicon-user"></span>Registrarse</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a  routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
                </ul>
          </li>
      </ul>
  </div>
</nav>
